@font-face {
  font-family: "amiri";
  src: url("amiri-regular.woff2") format('woff2');
}

@font-face {
  font-family: "amiri";
  src: url("amiri-bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "amiri";
  src: url("amiri-boldslanted.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "amiri";
  src: url("amiri-slanted.woff2") format('woff2');
  font-style: italic;
} 

#a7a {
  font-family: amiri;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

#coming-soon {
  font-family: amiri;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}


#arabic-output {
  font-family: amiri;
  font-style: normal;
  font-size: 50px;
  border-style:solid;
  direction:rtl;
  padding: 5px;
  width:100%;
  height: 500px;
  resize: none;
  overflow-y: auto;
}

div.article-ar {
  font-family: amiri;
  font-style: normal;
  font-size: 50px;
  direction:rtl;
  padding: 5px;
}

div.archive {
  font-family: amiri;
  font-style: normal;
  font-size: 50px;
  direction:rtl;
  padding: 5px;
}


.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }




